<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
    title Cursos Platzi
  body
    #app 
      .content
        .leftContent
          h1 Mi Cursos de Platzi 💚 
          input(v-model="title" type="text" placeholder= "Titulo del curso")
          input(v-model="time" type="number" placeholder= "Número de horas")
          button(@click="addCourse" type='submit') Guardar Curso
        .rightContent
          h3 Lista de Cursos
          p(v-show='courses.length <= 0 ? true:false' class = "red") Aun no has tomado cursos
          ol
            li(v-for='c in courses' :key='c.title') {{ c.title }}
          p Llevo
            strong {{ totalTime }}
            horas aprendiendo en Platzi. 
            b #NuncaParesDeAprender 💚 

  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="../js/script.js")