<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
    title Cursos Platzi
  body
    #app 
      .content
        .leftContent
          h1 Mi Cursos de Platzi 💚 
          input(type="text" placeholder= "Titulo del curso")
          input(type="number" placeholder= "Horas")
          button(type='submit') Guardar Curso
        .rightContent
          h3 Lista de Cursos
          p(class = "red") Aun no has tomado cursos
          p Llevo
            strong {{ Total_time }}
            horas aprendiendo en Platzi. 
            b #NuncaParesDeAprender 💚 

  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="../js/script.js")