<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Cursos Platzi</title>
  </head>
  <body>
    <div id="app"> 
      <div class="content">
        <div class="leftContent">
          <h1>Mi Cursos de Platzi 💚 </h1>
          <input v-model="title" type="text" placeholder="Titulo del curso"/>
          <input v-model="time" type="number" placeholder="Número de horas"/>
          <button @click="addCourse" type="submit">Guardar Curso</button>
        </div>
        <div class="rightContent">
          <h3>Lista de Cursos</h3>
          <p class="red" v-show="courses.length &lt;= 0 ? true:false">Aun no has tomado cursos</p>
          <ol>
            <li v-for="c in courses" :key="c.title">{{ c.title }}</li>
          </ol>
          <p>Llevo <strong>{{ totalTime }}</strong>
            <horas>aprendiendo en Platzi. </horas><b>#NuncaParesDeAprender 💚 </b>
          </p>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../js/script.js"></script>
</html>