include ../components/configs.pug
<!DOCTYPE html>
html(lang="en")
  include ../components/head.pug
  body
    include ../components/header.pug
    .contenido
      include ../components/sidemenu.pug
      .contenido__principal
        h2 Titulo Principal
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus expedita eum tempora. Inventore ipsum provident sint voluptatibus sapiente architecto officiis incidunt at, iste non, deserunt similique repellat quaerat laudantium voluptatem!
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus expedita eum tempora. Inventore ipsum provident sint voluptatibus sapiente architecto officiis incidunt at, iste non, deserunt similique repellat quaerat laudantium voluptatem!
        a.boton Ver Más
  include ../components/footer.pug