include ../components/configs.pug
<!DOCTYPE html>
html(lang="en")
  include ../components/head.pug
  body
    include ../components/header.pug
    section.intro
      .intro__imagen: img(src="../images/imagen.png", alt="imagen generica")
      .intro__contenido
        h2 #{titulos[0]}
        p 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Dicta numquam dolorum fugiat autem maiores aut, culpa nemo
          | deserunt repellat tempora velit, excepturi provident cum. 
          | Labore vel sed veniam doloribus quos
          span Proin totam minus dolores porro natus temporibus obcaecati dolor, omnis atque reprehenderit modi? Corporis, esse nam.
        a.boton Leer Más
    main.contenido
      +caja('imagen.png', titulos[1],'Proin totam minus dolores porro natus temporibus obcaecati dolor, omnis atque reprehenderit modi? Corporis, esse nam.') 
      +caja('imagen.png', titulos[2],'Proin totam minus dolores porro natus temporibus obcaecati dolor, omnis atque reprehenderit modi? Corporis, esse nam.') 
      +caja('imagen.png', titulos[2],'Proin totam minus dolores porro natus temporibus obcaecati dolor, omnis atque reprehenderit modi? Corporis, esse nam.') 
  include ../components/footer.pug